<div class="row p-2">
  <a class="btn btn-secondary" routerLink="/sprites/create-sprite-sheet"
    ><i class="fas fa-plus" routerLink></i> New Sheet</a
  >
</div>
<div class="row p-2" *ngFor="let sheet of sheets">
  <div class="card shadow-sm">
    <div *ngIf="sheet?.sprites.length > 0" class="card-img-top">
      <div
        *ngFor="let sprite of sheet.sprites; index as i; last as isLast"
        class="float-left"
      >
        <div *ngIf="sprite.array?.length > 0">
          <app-editable-canvas
            [sprite]="sprite"
            [selectedColor]="selectedColor"
            [spriteWidth]="sheet.options.width"
            [spriteHeight]="sheet.options.height"
            [editable]="false"
          >
          </app-editable-canvas>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h2 class="card-title">{{ sheet.name }}</h2>
      <p class="card-text" *ngIf="sheet.sprites.length > 0">
        <strong>Sprites:</strong><br />
        <span *ngFor="let sprite of sheet.sprites; index as i; last as isLast"
          ><a routerLink="/sprites/{{ sheet.id }}/{{ sprite.id }}">{{
            sprite.name
          }}</a
          ><span *ngIf="!isLast">, </span></span
        >
      </p>
      <dl class="d-flex flex-row">
        <dt class="mr-2">Options:</dt>
        <dd class="mr-2">Height: {{ sheet.options.height }}</dd>
        <dd class="mr-2">Width: {{ sheet.options.width }}</dd>
        <dd class="mr-2">
          Channels for Color: {{ sheet.options.colorChannels }}
        </dd>
      </dl>
      <div
        class="btn-group"
        role="group"
        attr.aria-label="{{ sheet.name }} - Sprite Sheet Options"
      >
        <button
          type="button"
          class="btn btn-secondary"
          (click)="delete(sheet.id)"
        >
          <i class="fas fa-trash"></i> Delete
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="duplicate(sheet.id)"
        >
          <i class="fas fa-copy"></i> Duplicate
        </button>
        <a
          routerLink="/sprites/{{ sheet.id }}"
          role="button"
          class="btn btn-primary"
          ><i class="fas fa-pencil-alt"></i> Edit</a
        >
      </div>
    </div>
  </div>
</div>
<ng-template [ngIf]="sheets?.length < 1">
  <p>No Sprite Sheets are currently saved. Click "New Sheet" to begin.</p>
</ng-template>
