<ng-template [ngIf]="sprite && (!sprite?.access.read || !sheet?.access.read)">
  <div class="alert alert-warning d-flex align-items-center" role="alert">
    <i class="fas fa-exclamation-triangle" aria-label="Warning:" ></i>
    <div class="mx-3">
      Sorry this content is not available.
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="sprite && sprite?.access.read && sheet?.access.read">
  <div *ngIf="!hasEditName">
    <h2>
      {{ sprite?.name }}
      <button type="button" class="btn btn-link" (click)="editName()" *ngIf="sprite?.access.write && sheet?.access.write">
        Edit
      </button>
      <small class="text-muted d-block h5" *ngIf="sheet?.name"
        >Part of {{ sheet?.name }}</small
      >
    </h2>
  </div>
  <div *ngIf="hasEditName && sprite?.access.write && sheet?.access.write">
    <label class="d-block" for="sprite-name">Sprite Name</label>
    <div class="input-group mb-3">
      <input
        value="{{ sprite?.name }}"
        name="sprite-name"
        id="sprite-name"
        type="text"
        class="form-control"
        (keyup)="sprite.name = $event.target.value"
      />
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button" (click)="editName()">
          Update Name
        </button>
      </div>
    </div>
  </div>
  <fieldset class="mt-3 mb-2" *ngIf="sprite?.access.write && sheet?.access.write">
    <legend>Color Palette</legend>
    <div class="d-flex">
      <div *ngFor="let color of sheet?.colors; index as i" class="flex-fill">
        <div class="p-2">
          <input
            type="radio"
            name="select-color"
            id="select-color-{{ i }}"
            [checked]="i == 0"
            (click)="changeSelectedColor(i)"
            value="RGBA color {{ (sheet?.colors)[i] | rgbaString }}"
            class="sr-only"
          />
          <div 
            class="palette-wrapper rounded-circle"
            [style.border-color]="
            'rgba(' +
            (color?.red !== undefined ? (color?.red > 127 ? 0 : 255) : 0) +
            ', ' +
            (color?.green !== undefined
              ? color?.green > 127
                ? 0
                : 255
              : 0) +
            ', ' +
            (color?.blue !== undefined ? (color?.blue > 127 ? 0 : 255) : 0) +
            ', ' +
            1 +
            ')'
          "
          >
            <label
              class="rounded-circle p-5 m-0"
              for="select-color-{{ i }}"
              [attr.aria-label]="
                'RGBA color ' + ((sheet?.colors)[i] | rgbaString)
              "
              [style.background-color]="(sheet?.colors)[i] | rgbaString"
              [style.color]="
                'rgba(' +
                (color?.red !== undefined ? (color?.red > 127 ? 0 : 255) : 0) +
                ', ' +
                (color?.green !== undefined
                  ? color?.green > 127
                    ? 0
                    : 255
                  : 0) +
                ', ' +
                (color?.blue !== undefined ? (color?.blue > 127 ? 0 : 255) : 0) +
                ', ' +
                1 +
                ')'
              "
            ></label>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div *ngIf="sheet">
    <div *ngIf="sprite">
      <app-editable-canvas
        (newPixel)="updatePixel($event)"
        [sprite]="sprite"
        [spriteWidth]="sheet.options.width"
        [spriteHeight]="sheet.options.height"
        [spriteColors]="sheet.colors"
        [editable]="sheet.access.write && sprite.access.write"
      >
      </app-editable-canvas>
    </div>
  </div>
  
</ng-template>
